<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="UMA TECHNICAL ELECTRONIC INSTITUTE - UTEI (utei.in) Anand Nagar , District Maharajganj Near Gorakhpur Uttar Pradesh India,  Managing Director: Surendra Kumar, Mobile Number: 9454583301, 9198202566.">
    <meta name="keywords" content="ADCA, CCOA, Diploma In Computer Application (DCA) , VEMC, Certificate In Computer Application (CCA) , Certificate In Financial Accounting (Tally), Certificate In AutoCAD, Certificate in Networking (CN) , Certificate In Laptop Repairing (LR), Certificate In Computer Assembling & Installation (CCAI), Diploma In Electronic Equipment (DEE) , Certificate In Advance Mobile Repairing (MR), Diploma In Refigeration & Air Conditioning (DRA) , Pannel Board Wiring Course (PBWC), Fan Binding Course (FBC), Three Phase Motar binding (MB) , Washing Machine Repairing Course (WMRC), C++ Programming/OOPS (C++/OOPS) , Visual Basic Programming Course/VB.Net (VBP/VB.NET) , Diploma In Industrial Safety (DIS). Also Gorakhpur Adda Bazar uma institute best famous top world class">
    <meta name="author" content="anshu">
    <meta Http-Equiv="Cache-Control" Content="no-cache">
    <meta Http-Equiv="Pragma" Content="no-cache">
    <meta Http-Equiv="Expires" Content="0"> 
    <link rel="icon" href="/images/UMA_logo.ico">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/navbar.css" >
    <link rel="stylesheet" href="/stylesheets/footer.css" >

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  </head>
  <body>

      {{> header}}
    
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       {{{body}}}
       

       <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

      <footer class="text-center">
       <hr>
        <div class="text-center center-block">
            <p>©copyright 2017 by UTEI | Powered By: <a href="#" data-toggle="tooltip" title=""> Taffrii Technologies Pvt. Ltd. </a></p>
      
            <br />
                <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
              <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
              <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
         </div>
        <hr>
       </footer>

         <!-- cache -->
       <script language="JavaScript" type="text/javascript">
         var url = window.history.forward();
         window.history.go(-window.history.length); 
       </script> 
       <!-- Placed at the end of the document so the pages load faster local scripts -->
        <script src="/javascripts/deleteRegister.js"></script>
        <script src="/javascripts/deleteCourse.js"></script>
        <script src="/javascripts/deleteCenter.js"></script>
        <script src="/javascripts/deleteCover.js"></script>
        <script src="/javascripts/deleteResult.js"></script>
        <script src="/javascripts/deleteContact.js"></script>
        <script src="/javascripts/deleteUser.js"></script>



        <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
         <!-- Popper JS -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
         <!-- Latest compiled JavaScript -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script> 
         <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
  </body>
</html>
