
  <link rel="stylesheet" href="/stylesheets/registration.css" >
  
 <div class="container">  
  <div class="row">


<form class="form-control" method="post" action="/user/getresults">
   <div class="form-group border border-danger rounded-top clearfix">

    <div class="alert alert-primary text-center">
   <h2> <strong  class="text-uppercase text-center"> HEAD OFFICE </strong></h2>
  </div>

<br>
<h2  class="text-uppercase text-center"> ANAND NAGAR (MAHARAJGANJ)</h2>

<h5 class="text-center">Near Mil Gate , Main Road Anand Nagar , Dist Maharajganj - 273155</h5>

<hr class="featurette-divider">

<h4 class="text-center">MANAGING DIRECTOR : SURENDRA KUMAR </h4>

<h5 class="text-center">Mobile : 9454583301 , 9198202566</h5>

<hr class="featurette-divider">

<h5 class="text-center">EXAM CONTROLLER : ANIL KUMAR YADAV </h5>

<h5 class="text-center">Mobile : 9721672714 , 8052356314 </h5>

<hr class="featurette-divider">

<h4 class="text-center">IN VERY SPECIAL CASE , PLEASE CONTACT : SURENDRA KUMAR</h4>

<h5 class="text-center">Mobile : 9454583301 , 9198202566 </h5>
 
   </div>
  </form>
          <hr class="featurette-divider">
</div>
  
          </div>

          