 
   <link rel="stylesheet" href="/stylesheets/registration.min.css" >
  
 <div class="container">  
  <div class="row">


<form class="form-control" method="post" action="/user/getresults">
   <div class="form-group border border-info rounded-top clearfix">

    <div class="alert alert-primary text-center">
    <h3><strong  class="text-uppercase text-center"> RULES &amp; REGULATIONS OF ADMISSION</strong></h3>


  </div>

<br>

<h5>The student is 15 years old.</h5>

<br>
<h5>Student education must high school or lable.</h5>
<br>
<h5>Knowledge of writing and reading Hindi and English.</h5>

<br>
<h5 >After the admission the student will have to deposit in the office four copies of his passport size photographs and certificate.</h5>
<br>
<h5 >Candidate willing to apply for two course has to get admission for two course has to get admission for both the course separately, and his roll number will different for both the course.</h5>

<br>
<h5>A student can get himself admitted to any course after filled in the application form and deposited the fee at least fifteen days earlier than the starting of the course. The principal has the right to cancel the admission.</h5>
<br>
 
   </div>
  </form>
          <hr class="featurette-divider">
</div>
  
          </div>

          