 
   <link rel="stylesheet" href="/stylesheets/registration.css" >
  
 <div class="container">  
  <div class="row">


<form class="form-control" method="post" action="/user/getresults">
   <div class="form-group border border-info rounded-top clearfix">

    <div class="alert alert-primary text-center">
    <h3><strong  class="text-uppercase text-center"> RULES &amp; REGULATIONS OF TRAINING</strong></h3>


  </div>

<br>

<h5>The student will have to study in the institution maintain the discipline.</h5>

<br>
<h5>No student will be allowed to go out of the class to see anybody without the permission of the teachers.</h5>
<br>
<h5>If the student causes any damage or break any article, he will have to pay the cost thereof. Certificate will be issued to him only after he has deposited the full amount.</h5>

<br>
<h5 >Repetition of training till full satisfaction will be allowed only when the attendance of the student is above 75% his conduct is good and he has passed the final examination.</h5>
<br>
<h5 >If the student continue absent for 15 days without informing the principal, his name will be struck off and the fees deposited by him will not be refunded.</h5>

<br>
<h5>The student who deposit their fees installments, would not be allowed to attend the class in case they Fail to deposit the fees in time.</h5>
<br>
<h5>The student will not be allowed for any type of addiction in the campus of the institution or in the Class. If he is found using any item of addiction, he will be liable to be punished or expelled from the institute by the principal.</h5>
<br>
<h5> If the student decides himself to leave the institution without completing the course, the amount of Fees deposited by him will not be refunded.</h5>
<br>
<h5>It is must to keep with you your school bag and I card during the training.</h5><br>

 
   </div>
  </form>
          <hr class="featurette-divider">
</div>
  
          </div>

          